nav {
    height: 15px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 10px 20px;
    background-color: #1c1c1c;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}

nav a {
    text-decoration: none;
    color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

nav a:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}
