.Home1 {
    height: calc(100vh - 15px);
    position: relative;
    overflow: hidden;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.Home1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../image/AI_bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: 1;
}

.Home1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 50px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.title {
    font-size: 36px; 
    font-weight: bold; 
    margin-bottom: 20px; 
    text-shadow:
        0 0 15px cyan,
        0 0 30px cyan,
        0 0 45px cyan;
}

.content {
    font-size: 18px; 
    line-height: 1.6; 
    margin: 0; 
    text-shadow:
        0 0 10px cyan,
        0 0 20px cyan;
}

.Home2 {
    background-color: rgba(0, 0, 0, 0.8);
    color: white; 
    padding: 40px; 
    text-align: center; 
    transition: background-color 0.3s ease; 
}

.Home2-content h2 {
    font-size: 30px; 
    margin-bottom: 20px; 
}

.Home2-content p {
    font-size: 18px; 
    line-height: 1.6; 
    margin: 0; 
    padding: 0 20px; 

}
